<%= simple_form_for(@website) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    <%= f.input :website %>
  </div>

  <% if !@website.new_record? %>
  <%= f.input :client_id, as: :hidden %>
  <% else  %>
  <%= f.input :client_id, as: :hidden, :input_html=>{value: @client} %>
  <% end  %>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
