<p>
<%= simple_form_for @phone, :remote=>true, :class=>'form-inline' do |f| %>

<<<<<<< HEAD
    <div class='input-append'>
	<%= f.input :phone,as: :string,:label=>false %>  
      <%= button_tag(:type=>:submit, :class=>'btn btn-info', :style=>'margin-bottom:5px') do %>
       <i class='icon-ok'></i>
  	  <% end %>
    </div>
=======
   <%= f.input :phone, :label=>false, :wrapper => :append do %>                   
      <%= f.input_field :phone, label: false %> 
      <%= button_tag(:type=>:submit, :class=>'btn btn-info', :style=>'margin-bottom:5px') do %>
      <i class='icon-ok'></i>     
  <% end %> 
  <% end %>
>>>>>>> fy_refactor

  <% if !@phone.new_record? %>
    <%= f.input :client_id, as: :hidden %>
  <% else  %>
    <%= f.input :client_id, as: :hidden, :input_html=>{value: @client} %>
  <% end  %>

  
    
  
<% end %>
</p>