
<% if @budgetitem.new_record? %>
<div style='margin-top: -35px'>
    <div class='control-group budgetitem_fiscalyear_id error'>
    <span class="help-inline"><%= @budgetitem.errors[:fiscalyear_id].first %></span>
    </div>

      <% @budgetitem.application.fiscalyears.each do |fy| %>
         <label class="checkbox">      
          <% if @budgetitem.fiscalyears  %>     
            <% if @budgetitem.fiscalyears.include?(fy) %>
              <%= check_box_tag 'fiscalyear_id[]', fy, true %>                                                     
            <% else %>
              <%= check_box_tag 'fiscalyear_id[]', fy %>  
            <% end %>  
          <% else %>
            <%= check_box_tag 'fiscalyear_id[]', fy %>  
          <% end %>                  
        <%= fy %>          

        </label>
      <% end %> <br>

<% else %>
    <div style='display:none;'>
      <%= check_box_tag 'fiscalyear_id',  @budgetitem.fiscalyear_id, true %>  
      <%= h @budgetitem.fiscalyear_id %>         
    </div>
</div>
<% end %>
