<%= simple_form_for @budgetitem,:remote=>true, :html => { :id => "frmBudgetItem"} do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
    
    <% if !@budgetitem.new_record? %>
      <h3 id='fy_indicator'><%= h @budgetitem.fiscalyear_id%></h3>
      <%= hidden_field_tag "original_forecast", @budgetitem.forecast_was ? @budgetitem.forecast_was : @budgetitem.forecast %><br>
    <% end %>

    <% if @budgetitem.funding_source != "Justice Canada" %>
      <%= f.input :funding_source,  :label=>"Funding source" %>
    <% else %>  
      <%= f.input :funding_source, as: :hidden, :input_html=>{value: "Justice Canada"} %>
      <%= text_field_tag :funding_tag,  "Justice Canada", :disabled=>true %>
    <% end %><br>
    
    <%= f.input :desc, :label=>'Expense item description', :input_html=>{:rows=>2} %>
    
    <%= render 'budgetitem_fiscalyears' %>

    <%= f.input :forecast, :wrapper => :prepend do %>
          <%= content_tag :span, "$", :class => "add-on" %>
          <%= f.input_field :forecast, as: :string, :style=>'width:92%', :value=> number_with_precision(f.object.forecast, :precision=>2, separator: '.', delimiter: ',')  %>
    <% end %>

    <%= f.input :actual, :wrapper => :prepend do %>
          <%= content_tag :span, "$", :class => "add-on" %>
          <%= f.input_field :actual, as: :string, :style=>'width:92%', :value=> number_with_precision(f.object.actual, :precision=>2, separator: '.', delimiter: ',')  %>
    <% end %>


    <%= hidden_field_tag :project, @budgetitem.project %>


    
    <%= f.input :application_id, :label=>"Application", 
    collection: @budgetitem.apptypes, :label_method => lambda { |type| "#{type.name}" },
    :selected_method=>@budgetitem.application_id, :include_blank=>false %>

    <%= f.input :budgetcategory_id, :label=>"Expense Category", collection: Budgetcategory.all , :label_method => lambda { |cat| "#{cat.name}" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn btn-primary', :id=>'submit_budgetitem' %>
  </div>
<% end %>


