<%= simple_form_for(@budgetitem) do |f| %>
  <%= f.error_notification %>
<br>
  <div class="form-inputs">
    <%= f.input :desc, :label=>'Expense item description', :input_html=>{:rows=>2} %>
    <%= f.input :forecast, :wrapper => :prepend do %>
          <%= content_tag :span, "$", :class => "add-on" %>
          <%= f.input_field :forecast, :style=>'width:92%', :value=> number_with_precision(f.object.forecast, :precision=>2, separator: '.', delimiter: ',')  %>
    <% end %>
    <%= f.input :actual, :wrapper => :prepend do %>
          <%= content_tag :span, "$", :class => "add-on" %>
          <%= f.input_field :actual, :style=>'width:92%', :value=> number_with_precision(f.object.actual, :precision=>2, separator: '.', delimiter: ',')  %>
    <% end %>
    

    <% if @budgetitem.new_record? %>
    <div class='control-group budgetitem_fiscalyear_id error'>
    <span class="help-inline"><%= @budgetitem.errors[:fiscalyear_id].first %></span>
    </div>
      <% Fiscalyear.all.each do |fy| %>
       <label class="checkbox">
        <%= check_box_tag 'fiscalyear_ids[]', fy.id %>
        <%= h fy.fy %>
      </label>
      <% end %> <br>
    

    <% end %>

    
    <%= f.input :application_id, :label=>"Application", 
    collection: @apptypes, :label_method => lambda { |type| "#{type.name}" }  %>

    <%= f.input :budgetcategory_id, :label=>"Expense Category", collection: Budgetcategory.all , :label_method => lambda { |cat| "#{cat.name}" } %>
  </div>

  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>


