<h1>Listing customfields</h1>

<table>
  <thead>
    <tr>
      <th>Field type</th>
      <th>Field name</th>
      <th>Field class</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customfields.each do |customfield| %>
      <tr>
        <td><%= customfield.field_type %></td>
        <td><%= customfield.field_name %></td>
        <td><%= customfield.field_class %></td>
        <td><%= link_to 'Show', customfield %></td>
        <td><%= link_to 'Edit', edit_customfield_path(customfield) %></td>
        <td><%= link_to 'Destroy', customfield, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customfield', new_customfield_path %>
