<h1>Listing applicationtypes</h1>

<table>
  <tr>
    <th>Name</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @applicationtypes.each do |applicationtype| %>
  <tr>
    <td><%= applicationtype.name %></td>
    <td><%= link_to 'Show', applicationtype %></td>
    <td><%= link_to 'Edit', edit_applicationtype_path(applicationtype) %></td>
    <td><%= link_to 'Destroy', applicationtype, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Applicationtype', new_applicationtype_path %>
