<%= simple_form_for @commitmentitem, :html => { :class => 'form-horizontal' }, :remote=>true do |f| %>
  <%= f.input :ci_name, label: 'Commitment Item (EN)' %>  
  <%= f.input :summarycommitment_id, :as => :hidden %>
  
 <fieldset>
    <legend>Fiscal Years</legend>
       <%= date_picker :startdate, f,  @commitmentitem.startdate, "Start Date", @commitmentitem.errors %>
          <%= date_picker :enddate, f,  @commitmentitem.enddate, "End Date", @commitmentitem.errors %>
  </fieldset>

  
  <div class="form-actions">
    <%= f.button :submit, :class => 'btn-primary' %>
    <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                commitmentitems_path, :class => 'btn' %>
  </div>
<% end %>

<script type="text/javascript">

$('.datepicker').datepicker({
  autoclose: 'true',  
  format: 'yyyy-mm-dd'
});

</script>
