<%- model_class = Commitmentitem -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ci_name) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:summarycommitment_id) %></th>
      <th>Fiscal Years</th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>      
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @commitmentitems.each do |commitmentitem| %>
      <tr>
        <td><%= link_to commitmentitem.id, commitmentitem_path(commitmentitem) %></td>
        <td><%= commitmentitem.ci_name %></td>
        <td><%= commitmentitem.active %></td>
        <td><%= commitmentitem.user.full_name %></td>
        <td><%= commitmentitem.summarycommitment.sc_name %></td>
        <td><%= commitmentitem.fiscalyears %></td>
        <td><%=l commitmentitem.created_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_commitmentitem_path(commitmentitem), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      commitmentitem_path(commitmentitem),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_commitmentitem_path,
            :class => 'btn btn-primary' %>
