<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @customtemplatetype.ct_type %>
</p>

<p>
  <strong>Modelstate:</strong>
  <%= @customtemplatetype.modelstate %>
</p>

<%= link_to 'Edit', edit_customtemplatetype_path(@customtemplatetype) %> |
<%= link_to 'Back', customtemplatetypes_path %>
