<%= simple_form_for(@application)  do |f| %>
 
	
	<div class="form-inputs">

	<%= f.input :updating_unique_attribute, as: :hidden %>
	
	<% if @application.updating_unique_attribute == "requested_other" %>
		 <%= f.input :requested_other, :wrapper => :prepend do %>
	       <%= content_tag :span, "$", :class => "add-on" %>
	        <%= f.text_field :requested_other, label: 'Requested (other funders)',
	        :value=> number_with_precision(f.object.requested_other, 
	        :precision => 2, separator: '.', delimiter: ',') || '0.00' %>            
     <% end %>
	<% elsif @application.updating_unique_attribute == "requested"  %>
		 <%= f.input :requested, :wrapper => :prepend do %>
	       <%= content_tag :span, "$", :class => "add-on" %>
	        <%= f.text_field :requested, label: 'Requested',
	        :value=> number_with_precision(f.object.requested, 
	        :precision => 2, separator: '.', delimiter: ',') || '0.00' %>            
     <% end %>
	<% else%>
		<%= f.input :corporate_file_number %>
	<% end %>

	<br>

 <div class="submit">
        <%= f.button :submit, class: 'btn-success', style: 'margin-top:-35px;' %>
 </div>
</div>
<% end %>