<%= simple_form_for(@application) do |f| %>
  <%= f.error_notification %>

<fieldset>
 <% if !@application.new_record? %>
  <legend>Editing PRAS</legend>
 <% else  %>
  <legend>PRAS</legend>
 <% end  %>
  <div class="form-inputs">
  	<%= f.input :productserviceline_id, label: 'Product Service Line', 
  	collection: Productserviceline.all, :label_method => lambda { |psl| "#{psl.psl_name}" }  %>
	<%= f.input :subserviceline_id, label: 'Sub Service Line', 
	collection: Subserviceline.all, :label_method => lambda { |ssl| "#{ssl.ssl_name}" }  %>
	<%= f.input :summarycommitment_id, label: 'Summary Commitment', 
	collection: Summarycommitment.all, :label_method => lambda { |sc| "#{sc.sc_name}" }  %>
	<%= f.input :commitmentitem_id, label: 'Commitment Item', 
	collection: Commitmentitem.all, :label_method => lambda { |ci| "#{ci.ci_name}" }  %>
  </div>
</fieldset>
  <div class="form-actions">
    <%= f.button :submit %>
  </div>
<% end %>
