<h1>Listing user_clients</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Client</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @user_clients.each do |user_client| %>
      <tr>
        <td><%= user_client.user_id %></td>
        <td><%= user_client.client_id %></td>
        <td><%= link_to 'Show', user_client %></td>
        <td><%= link_to 'Edit', edit_user_client_path(user_client) %></td>
        <td><%= link_to 'Destroy', user_client, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New User client', new_user_client_path %>
