<%= simple_form_for @subserviceline, :html => { :class => 'form-horizontal' }, :remote=>true do |f| %>
  <fieldset>
        <legend>Sub Service Line</legend>
      <%= f.input :productserviceline_id, as: :hidden %>  
      <%= f.input :ssl_name, :label => "Sub Service line (EN)" %>
      
     </fieldset>

     <% if @subserviceline.new_record? %>              
          <fieldset>
          <legend>Summary commitment</legend>
          <%= f.input :sc_name, :label => "Summary Commitment (EN)" %>
        </fieldset>             
          <fieldset>
          <legend>Commitment Item</legend>
          <%= f.input :ci_name, :label => "Commitment Item (EN)" %>
        </fieldset>
            
      <% end %>

     <fieldset>
        <legend>Fiscal Years</legend>

           <%= date_picker :startdate, f,  @subserviceline.startdate, "Start Date", @subserviceline.errors %>
          <%= date_picker :enddate, f,  @subserviceline.enddate, "End Date", @subserviceline.errors %>

      </fieldset>

      
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    commitmentitems_path, :class => 'btn' %>
      </div>

  <% end %>


<script type="text/javascript">

$('.datepicker').datepicker({
  autoclose: 'true',  
  format: 'yyyy-mm-dd'
});


</script>   
