<%- model_class = Subserviceline -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize.titleize %></h1>
</div>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:id) %></th>
      <th><%= model_class.human_attribute_name(:ssl_name) %></th>
      <th><%= model_class.human_attribute_name(:active) %></th>
      <th><%= model_class.human_attribute_name(:user_id) %></th>
      <th><%= model_class.human_attribute_name(:productserviceline_id) %></th>
      <th><%= model_class.human_attribute_name(:updated_at) %></th>
      <th><%=t '.actions', :default => t("helpers.actions") %></th>
    </tr>
  </thead>
  <tbody>
    <% @subservicelines.each do |subserviceline| %>
      <tr>
        <td><%= link_to subserviceline.id, subserviceline_path(subserviceline) %></td>
        <td><%= subserviceline.ssl_name %></td>
        <td><%= subserviceline.active %></td>
        <td><%= subserviceline.user.full_name %></td>
        <td><%= subserviceline.productserviceline.psl_name %></td>
        <td><%=l subserviceline.updated_at %></td>
        <td>
          <%= link_to t('.edit', :default => t("helpers.links.edit")),
                      edit_subserviceline_path(subserviceline), :class => 'btn btn-mini' %>
          <%= link_to t('.destroy', :default => t("helpers.links.destroy")),
                      subserviceline_path(subserviceline),
                      :method => :delete,
                      :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) },
                      :class => 'btn btn-mini btn-danger' %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to t('.new', :default => t("helpers.links.new")),
            new_subserviceline_path,
            :class => 'btn btn-primary' %>
