<h4>Choose client type</h4><br>

<%= simple_form_for @clienttype, :remote=>true, :url => { :action => :new_client } do |f| %>
 

  <div class="form-inputs">
   <%= f.input :name, :label=>"Select client type",
    collection: Clienttype.all  %>
   </div>

   <% if @client  %>
     <%= f.input :client, as: :hidden, :input_html=>{value: @client} %>
   <% end %>

	  
      <% if params[:layout] %>
        <%= link_to 'Next', new_client_path(:layout=>false),:class=>'btn btn-success btn-small',
         :remote=>true, :id=>'clientCT' %>
      <% else %>
	     <%= f.button :submit, "Next", :class=>'btn btn-primary btn-small submitCT', :remote=>true%>
      <% end %>
      
      

	  <%= hidden_field_tag :country_id, @country %>
 
<% end %>
