<%= simple_form_for @clienttype, :url => { :action => :new_client } do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
   <%= f.input :name, :label=>"Select client type",
    collection: Clienttype.all  %>
   </div>

   <% if @client  %>
     <%= f.hidden_input :client_id, :input_html=>{value: @client} %>
   <% end %>

	  
	    <%= f.button :submit, "Next", :class=>'btn btn-primary btn-small' %>
	  <%= hidden_field_tag :country_id, @country %>
 
<% end %>
