<h4>Choose client type</h4><br>

<%= simple_form_for @clienttype, :remote=>true, :url => { :action => :new_client } do |f| %>
 

  <div class="form-inputs">
   <%= f.input :name, label: false,  collection: Clienttype.all,
    :label_method => lambda { |ct| "#{ct.name}" } %>
   </div>

   <% if @client  %>
     <%= f.input :client, as: :hidden, :input_html=>{value: @client} %>
   <% end %>

	  
      
	     <%= f.button :submit, "Next", :class=>'btn btn-primary btn-small submitCT', :remote=>true%>
      
      
      

	  <%= hidden_field_tag :country_id, @country %>
 
<% end %>
