<p id="notice"><%= notice %></p>

<p>
  <strong>Customfield:</strong>
  <%= @cfct.customfield %>
</p>

<p>
  <strong>Customtemplate:</strong>
  <%= @cfct.customtemplate %>
</p>

<%= link_to 'Edit', edit_cfct_path(@cfct) %> |
<%= link_to 'Back', cfcts_path %>
