<%= simple_form_for @summarycommitment, :html => { :class => 'form-horizontal' }, :remote=>true do |f| %>
  <fieldset>
        <legend>Summary Commitment</legend>
      <%= f.input :subserviceline_id, as: :hidden %>  
      <%= f.input :sc_name, :label => "Summary Commitment (EN)" %>
      
     </fieldset>

     <% if @summarycommitment.new_record? %>              
                 
          <fieldset>
          <legend>Commitment Item</legend>
          <%= f.input :ci_name, :label => "Commitment Item (EN)" %>
        </fieldset>
            
      <% end %>

     <fieldset>
        <legend>Fiscal Years</legend>

           <%= date_picker :startdate, f,  @summarycommitment.startdate, "Start Date", @summarycommitment.errors %>
          <%= date_picker :enddate, f,  @summarycommitment.enddate, "End Date", @summarycommitment.errors %>

      </fieldset>

      
      <div class="form-actions">
        <%= f.button :submit, :class => 'btn-primary' %>
        <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                    commitmentitems_path, :class => 'btn' %>
      </div>

  <% end %>


<script type="text/javascript">

$('.datepicker').datepicker({
  autoclose: 'true',  
  format: 'yyyy-mm-dd'
});


</script>   
