<%= simple_form_for(@division, :remote=>true) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">

    <div class='tab-content'>
    <fieldset>
      <legend>Division Name(s)</legend>
    <%= f.input :name %>
    <%= f.input :name1 %>
    <%= f.input :name2 %>
    <%= f.input :client_id%>
    </fieldset>

    <fieldset>
      <legend>Division Address</legend>

    <% if params[:state] != "new_address" %>
      <div class='input-append'>
        
        <%= f.input :location_id, :label=>false, :wrapper=>:append do %> 
            <%= f.input_field :location_id, collection: Location.where(:id => @locations), 
            :label_method => lambda { |at| "#{at.addressline1}" } %> 
             <%= button_tag "add new", :type=>:submit,  :class=>'btn btn-info', :style=>'margin-bottom:5px' %>                            
        <% end %>
       
      </div>

   

    <% else %>

      <%= f.simple_fields_for :location do |location| %>
        <%= location.input :addressline1 %>
        <%= location.input :addressline2 %>
        <%= location.input :addressline3 %>
        <%= location.input :addressline4 %>
        <%= location.input :city %>

        
        <%= location.input :state_id, :label=>"Province", 
           collection: State.where(:id=>@division.client.clientlocations.first.location.state_id), 
            :label_method => lambda { |se| "#{se.name}" }, :include_blank=>false %>   
        
        <%= location.input :postal %>
         <%= location.input :country_id, as: :hidden, :input_html=>{value: 38} %> 

      <% end %>

    <% end %>
    
    </fieldset>

  </div>

  <div class="form-actions">
    <%= f.button :submit, :class=>'btn btn-primary btn-small', :id=>'submitDivision' %>
    <%= f.button :submit, "cancel", :name=>'cancel', :class=>'btn btn-danger btn-small' %>
  </div>
</div>
<% end %>

<script type="text/javascript">

$('#new_division').formToWizard({submitButton: 'submitDivision'})

</script>




