<% if @division.state == "new_address" %>
<h1>Address information for <%= @division.name %></h1>
<% else %>
<h1>Editing <%= @division.name %></h1>
<% end %>
<br>

<%= render 'form' %>

<%= link_to 'Show', @division %> |
<%= link_to 'Back', divisions_path %>
