
   
  <div class='loader'>
  </div>


<%= simple_form_for @client, :html=>{id: 'frmClient', class: 'form'} do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :country_id, @client.country_id %>
  <input type='hidden' name='ts' value=<%= @stale_form_ts %> />
  <%= f.input :token, as: :hidden, :name=>'token', :input_html=>{value: @token} %>

  <div class="form-inputs">
   <fieldset>
        <legend>Main client information</legend>
    
    <% if @client.clienttype_id == 1 %>  
    
        <%= f.input :salutation, :label=>"Salutation", collection: ['Mr', 'Ms'] %>
        <% if @name %>
          <%= f.input :name, :label=>"First Name", :input_html=>{value: @name}  %>
        <% else %>
          <%= f.input :name, :label=>"First Name"  %>
        <% end %>
        <%= f.input :name1, :label=>"Last Name" %>
    
    <% else %>
      
          <% if @name  %>
            <%= f.input :name, :label=>"Organization Name", :input_html=>{value: @name}  %>
          <% else %>
            <%= f.input :name, :label=>"Organization Name"  %>
          <% end %>            
          <%= render 'orginfo', :f=>f %>       

  <% end  %>
    
     <p>
    <%= render 'mandatetype', :f=>f %> 
  </p><br>
  
   </fieldset>

   
    <p>
    <%= render 'addressfields', :f=>f, :clienttype=>@client.clienttype_id, :country=>@client.country_id %>
    </p>
      <%= render 'contactfields', :f=>f %>

 </div>

    

  <div class="submit form-actions">
    <% if @client.new_record? %>
    <%= f.button :submit, "Finish", :class=>"btn btn-success btn-large", :id=>'clientSubmit' %>
    <% else %>
    <%= f.button :submit, "Save changes", :class=>"btn btn-success btn-large", :id=>'clientSubmit' %>
    <% end %>
  </div>
<% end %>

<% if @client.new_record? %>

  <script type="text/javascript">
    $(function() {
      $('#frmClient').fadeIn(300);
      $('#frmClient').formToWizard({ submitButton: 'clientSubmit' });
    });
  </script>

<% else %>

  <script type="text/javascript">
    $(function() {
      $('#frmClient').fadeIn(200);
    });
  </script>

<% end %>





