

<%= simple_form_for @client, :remote=>true, :html=>{id: 'frmClient', class: 'frm'} do |f| %>
  <%= f.error_notification %>

  <%= hidden_field_tag :country_id, @client.country_id %>
  <input type='hidden' name='ts' value=<%= Time.now.to_i %> />
  <%= f.input :token, as: :hidden, :name=>'token', :input_html=>{value: @client.token} %>

  <div class="form-inputs">

  <div class='tab-content'>
     <fieldset>
          <legend>Main client information</legend>
    
      <% if @client.clienttype_id == 1 %>  
      
          <%= f.input :salutation, :label=>"Salutation", collection: ['Mr', 'Ms'] %>
         
            <%= f.input :name, :label=>"First Name"  %>
          
          <%= f.input :name1, :label=>"Last Name" %>
      
      <% else %>
        
          
              <%= f.input :name, :label=>"Organization Name"  %>
         
            
              <%= render 'orginfo', :f=>f %>       
            

    <% end  %>
      
       <p>
      <%= render 'mandatetype', :f=>f %> 
    </p><br>
    
     </fieldset>

     
      
      <%= render 'addressfields', :f=>f, :clienttype=>@client.clienttype_id, :country=>@client.country_id %>
      
      <%= render 'contactfields', :f=>f %>

    <div class="submit form-actions">
      <% if @client.new_record? %>
      <%= f.button :submit, "Finish", :class=>"btn btn-success btn-large submit", :id=>'clientSubmit' %>
      <% else %>
      <%= f.button :submit, "Save changes", :class=>"btn btn-success btn-large submit", :id=>'clientSubmit' %>
      <% end %>
    </div>
    
  </div>
</div>
<% end %>
























