<% if @client.new_record? %>

<div class='form-inputs'>

	<p>
  	<%= f.input :incorporated, :label=>"Incorporated?" %>  	
  	 <% if @client.corporation.errors.any? || !@client.corporation.businessnumber.blank? %>
  	  <div id='corporation_fields' class='section'>
  	 <% else %>
	  <div id='corporation_fields' class='section' style='display:none;'>
	 <% end %>
	  	<%= render 'corporation_fields', :f=>f %>
	  </div>
  	</p>
  	<p>
		<%= f.input :registeredcharity, :label =>"Registered charity?"  %>
		<% if @client.charity.errors.any? || !@client.charity.registrationnumber.blank? %>
		<div id='charity_fields' class='section'>
		<% else %>
		<div id='charity_fields' class='section' style='display:none;'>
		<% end %>
		  <%= f.simple_fields_for :charity do |charity|  %>
			   <%= charity.input :registrationnumber %>
		       <%= charity.input :registrationdate, as: :string,
		       :input_html=>{ :class=>'datepicker', value: @client.charity.registrationdate } %>    
		  <% end  %>
		</div>
	</p>

  	<p>
	  <%= f.input :registeredband, :label =>"Registered band?"  %><br>
	  <% if @client.band.errors.any? || !@client.band.bandnumber.blank? %>
	  <div id='band_fields' class='section'>
	  <% else %>
	  <div id='band_fields' class='section' style='display:none;'>
	  <% end %>
		  <%= f.simple_fields_for :band do |band|  %>
		    <%= band.input :bandnumber %>
	    <% end  %>
	  </div>
	</p>


<%= f.input :mandate, :label=>"Organization mandate", :input_html=>{style: "height:100px;width:300px"} %>

</div>

<% else %>

<div class='fields_inside_tabs'>

  <div class='row'>
	
	<% if @client.incorporated %>	
	<div class='span4 section'>	
		  <b>Incorporation Information <%= link_to 'Click here if not incorporated', @client.corporation, method: :delete, data: { confirm: 'Are you sure you want to delete  all corporation information?' } %></b><br><br>
		  <%= f.simple_fields_for :corporation do |corp|  %>
		     <%= corp.input :businessnumber, :input_html=>{value: @client.corporation.businessnumber} %>
		     <%= corp.input :level, collection: ['Federal', 'Provincial', 'Municipal/Regional'] %>
		     <%= corp.input :client_id, as: :hidden, :input_html=>{value: @client.id} %>
	   	  <% end  %>
	   	</div>
			<% else  %>
	<p>
	<%= link_to "click here if incorporated", edit_client_path(@client, :step=>'corporation', :edit=>true), :class=>'btn btn-success btn-small'  %><br>

	</p>
	<% end  %>
  </div><br>

  <div class='row'>
		<% if @client.registeredband %>
		 <div class='span4 section'>
			  <b>Band Information <%= link_to 'Click here if not a band', @client.band, method: :delete, data: { confirm: 'Are you sure you want to delete all band information?' } %></b>
			  <%= f.simple_fields_for :band do |band|  %>
			    <%= band.input :bandnumber %>
			    <%= band.input :client_id, as: :hidden, :input_html=>{value: @client.id} %>
			  <% end  %>
		</div>
			
		<% else  %>
		<p>
		<%= link_to "Click here if registered band", edit_client_path(@client, :step=>'band', :edit=>true), :class=>'btn btn-success btn-small'  %><br>
		</p>
		<% end  %>
	</div><br>


<div class='row'>

	<% if @client.registeredcharity  %>
	<div class='span4 section'>	  
	  <b>Charity Information <%= link_to 'Click here if not a charity', @client.charity, method: :delete, data: { confirm: 'Are you sure you want to delete all charity information?' } %></b>
	  <%= f.simple_fields_for :charity do |charity|  %>
  		<%= charity.input :registrationnumber %>
  		<%= charity.input :registrationdate, as: :string,
  		:input_html=>{ :class=>'datepicker', value: @date.to_date  } %>
  		<%= charity.input :client_id, as: :hidden, :input_html=>{value: @client.id} %>
	  <% end  %>
	  </div>
	
	<% else  %>
	<p>
	<%= link_to "click here if registered charity", edit_client_path(@client, :step=>'charity', :edit=>true), :class=>'btn btn-success btn-small'  %>
	</p>
	<% end  %>
</div>


</div>


<% end %>