

<div id="editClient">
  <h3><%=link_to @client.adj_name, edit_client_path(@client) %></h3><br>
</div>


 <ul class="nav nav-tabs">
  <li class="active">
    <a data-toggle="tab" href="#main1"><h4 style='color:#4e80b6'>Main Information</h4></a>
  </li>
   <li>
    <a data-toggle="tab" href="#contact"><h4 style='color:#4e80b6'>Contacts</h4></a>
  </li>
  <% if @client.clienttype_id != 1 %>
  <% if @client.clienttype_id != 3 %>    
      <li>
        <a data-toggle="tab" href="#additional_info"><h4 style='color:#4e80b6'>Additional Information</h4></a>
      </li>
    <% else %>
        <li>
        <a data-toggle="tab" href="#divisions"><h4 style='color:#4e80b6'>Divisions</h4></a>
      </li>    
    <% end %>
  <% end %>
  <li>
    <a data-toggle="tab" href="#history"><h4 style='color:#4e80b6'>History</h4></a>
  </li>  
  
</ul>

<div class="tab-content">
    

     <div class="tab-pane active" id="main1">     
       <%= render 'clients/show_sections/main', :client=>@client %>
    </div>

     <div class="tab-pane" id="contact">     
       <%= render 'clients/show_sections/contact' %>
    </div>

    <% if @client.clienttype_id != 1 && @client.clienttype_id != 3 %>
      
       <div class="tab-pane" id="additional_info">     
         <%= render 'clients/show_sections/additional_info' %>
      </div>
    <% else %>
       <div class="tab-pane" id="divisions">     
         <%= render 'clients/show_sections/divisions' %>
      </div>
      
    <% end %>

     <div class="tab-pane" id="history">     
       <%= render 'clients/show_sections/history' %>
    </div>


</div>




















