<h1>Edit</h1> <br>


<div class='loader'>
  </div>

<% if !@mandate_only.blank?   %>
	<%= render 'formMandate' %>

<% elsif !@step.blank?   %>
	<%= render "clients/additional_info_forms/form_#{@step}" %>

<% elsif !@wizard.blank? %>
	<%= render 'formWizard' %>
<% else %>

 <div id='frmContainer'>
 <%= render 'form' %>
</div>

<% end  %>



<%= link_to 'Show', @client %> |
<%= link_to 'Back', clients_path %>


