<h1>Listing wizardcustomtemplates</h1>

<table>
  <thead>
    <tr>
      <th>User</th>
      <th>Customtemplate</th>
      <th>Wizard</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @wizardcustomtemplates.each do |wizardcustomtemplate| %>
      <tr>
        <td><%= wizardcustomtemplate.user %></td>
        <td><%= wizardcustomtemplate.customtemplate %></td>
        <td><%= wizardcustomtemplate.wizard %></td>
        <td><%= link_to 'Show', wizardcustomtemplate %></td>
        <td><%= link_to 'Edit', edit_wizardcustomtemplate_path(wizardcustomtemplate) %></td>
        <td><%= link_to 'Destroy', wizardcustomtemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Wizardcustomtemplate', new_wizardcustomtemplate_path %>
