<p id="notice"><%= notice %></p>

<p>
  <strong>User:</strong>
  <%= @wizardcustomtemplate.user %>
</p>

<p>
  <strong>Customtemplate:</strong>
  <%= @wizardcustomtemplate.customtemplate %>
</p>

<p>
  <strong>Wizard:</strong>
  <%= @wizardcustomtemplate.wizard %>
</p>

<%= link_to 'Edit', edit_wizardcustomtemplate_path(@wizardcustomtemplate) %> |
<%= link_to 'Back', wizardcustomtemplates_path %>
