 <h3>Budget</h3>

   <table class='table table-bordered'>
   	<thead>
   		<tr>
   			<th>Funder</th>
   			<th>Expense Category</th>
   			<th>Expense Description</th>
   			<th>Fiscal Year</th>
   			<th>Estimated Amount</th> 
            <th>Actual Amount</th> <!-- check for status after approval before showing this -->  		
            <th>Application</th>
            <th>Edit</th>
            <th>Delete</th>
   		</tr>
   	</thead>
   	<tfoot>
	 <tr>
	 	<th>Total</th>
	 	<th></td>
	 	<th></td>
	 	<th></td>
	 	<th>$<%= @total_estimate %></th>
      <th>$<%= @total_actual %></th>
      <th></td>
      <th></td>
	 </tr>
	</tfoot>
   	<tbody>
      <% @project.applications.each do |app| %>
         <% app.budgetitems.each do |budget| %>
   		<tr>
   			<td>Justice Canada</td>
   			<td><%= budget.budgetcategory.name %></td>
   			<td><%= budget.desc %></td>
   			<td><%= budget.fiscalyear.fy %></td>
   			<td><%= budget.forecast %></td>
            <td><%= budget.actual %></td> <!-- check for status after approval before showing this -->              
          <td><%= app.applicationtype.name %></td>
          <td><%= link_to '', edit_budgetitem_path(budget), :class=>'icon-pencil' %></td>
          <td>
            <%= link_to '', budget, method: :delete, data: { confirm: 'Are you sure?' }, 
            :class=>'icon-minus-sign red' %>
         </td>
         </tr>
         <% end %>
      <% end  %>
   	</tbody>
   </table>

<p>
 <%= link_to "Add Expense Item", new_budgetitem_path(:project=>@project) %>
</p>