 <h3>Budget</h3>


 <% if !@project.budgetitems.blank? %>
     <table class='table table-bordered table-striped table-hover'>
     	<thead>
     		<tr>
     			<th>Funder</th>
     			<th>Expense Category</th>
     			<th>Expense Description</th>
     			<th>Fiscal Year</th>
     			<th>Estimated Amount</th> 
              <th>Actual Amount</th> <!-- check for status after approval before showing this -->  		
              <th>Application</th>
              <th>Edit</th>
              <th>Delete</th>
     		</tr>
     	</thead>
     	<tfoot>
  	 <tr>
  	 	<th>Total</th>
  	 	<th></td>
  	 	<th></td>
  	 	<th></td>
  	 	<th><%= number_to_currency(@total_estimate) %></th>
        <th><%= number_to_currency(@total_actual) %></th>
        <th></td>
        <th></td>
  	 </tr>
  	</tfoot>
     	<tbody>
        <% @project.applications.each do |app| %>
           <% app.budgetitems.each do |budget| %>

             		<tr>
             			<td>Justice Canada</td>
             			<td><%= budget.budgetcategory.name %></td>
             			<td><%= budget.desc %></td>
             			<td><%= budget.fiscalyear.fy %></td>
             			<td><%= number_to_currency(budget.forecast.to_s.to_d) %></td>
                      <td><%= number_to_currency(budget.actual.to_s.to_d) %></td> <!-- check for status after approval before showing this -->              
                    <td><%= app.applicationtype.name %></td>
                    <td><%= link_to '', edit_budgetitem_path(budget), :class=>'icon-pencil' %></td>
                    <td>
                      <%= link_to '', budget, method: :delete, data: { confirm: 'Are you sure?' }, 
                      :class=>'icon-minus-sign red' %>
                   </td>
                </tr>
           <% end %>
           <p>
         
         <% if !(@project.budgetitems.sum(:forecast) == @project.applications.sum(:requested)) %>
          <%= link_to "Add Expense", new_application_budgetitem_path(app), 
          :class=>'btn btn-primary bth-small' %> 
         <% else %>
          <h3 class='balance alert alert-success'>Budget balanced <i class="icon-ok"></i>
          </h3>       
         <% end %>

         <%= link_to "Add Expense from Other Funding Source", new_application_budgetitem_path(app, :other_funder=>true), :class=>'btn btn-info bth-small' %>        
        </p>      
        <% end  %>
     	</tbody>
     </table>

<% else %>
    <%= link_to "Add Expense", new_project_budgetitem_path(@project), :class=>'btn btn-success bth-small' %>        
         <%= link_to "Add Expense from Other Funding Source", new_project_budgetitem_path(@project, :other_funder=>true), :class=>'btn btn-info bth-small' %>  

<% end %>
