<div class='span6'>

<h4>Title 

	<% if allow? :projects, :edit  %> 
	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectname'), :class=>'editProjectSingleField icon-pencil' %></h4>
	<% end %>
	<h4 style='color:#797979;'><%= @project.projectname %>
	
</h4>
	<div style='width:90%;word-wrap: break-word;'>
		 <h4>Description 
 		<%# if allow_param? :projects, :projectdesc %>
 		<% if allow? :projects, :edit  %> 
		 	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectdesc'), :class=>'editProjectSingleField icon-pencil' %>
		 <% end %>
		 </h4>
		 <h4 style='color:#797979;'><%= @project.projectdesc %>
		 
		</h4>
	</div>

 <h4>Start date 
 	<% if allow? :projects, :edit  %> 
 	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'startdate'), :class=>'editProjectSingleField icon-pencil' %>
 	<% end %>
 </h4>

 <h4 style='color:#797979;'><%= @project.startdate.to_date %>
 
</h4>
 <h4>End date 
 <% if allow? :projects, :edit  %> 
 	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'enddate'), :class=>'editProjectSingleField icon-pencil' %>
 <% end %>
 </h4>
 
 <h4 style='color:#797979;'><%= @project.enddate.to_date %>
 
</h4>

 <% @project.applications.each do |app| %>
 	<h4>Corporate file number	
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'corporate_file_number'), :class=>'editAppSingleField icon-pencil' %>
 		<% end %>
 	</h4>
 
 	<h4 style='color:#797979;'><%= app.corporate_file_number %>
 	 
 </h4>
 	<h4>Requested amount 
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested'), :class=>'editAppSingleField icon-pencil' %>
 		<% end %>
 	</h4>

 	<h4 style='color:#797979;'>$<%= number_with_precision(app.requested, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %>        
    </h4>
 	<h4>Requested amount from other source(s) 
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested_other'), :class=>'editAppSingleField icon-pencil' %></h4>
 		<% end %>
 	
 	<h4 style='color:#797979;'>$<%= number_with_precision(app.requested_other, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %>
           
    </h4>			 			 	
 <% end %>
</div>