<div id='core_container' class='span6'>

<h4>Title 
	<% if allow? :projects, :edit  %> 
	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectname'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project Title', 							
		'data-attribute'=>'projectname',					
		:remote=>true %></h4>
	<% end %>
	<div class='projectname_container'>
	<h5 id='projectname' style='color:#797979;'><%= @project.projectname %></h5>
	</div>


	

	<div style='width:90%;word-wrap: break-word;'>
		 <h4>Description 
 		<%# if allow_param? :projects, :projectdesc %>
 		<% if allow? :projects, :edit  %> 
		 	
 	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectdesc'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project Description', 							
		'data-attribute'=>'projectdesc',					
		:remote=>true %>
	<% end %>
	</h4>
	<div class='projectdesc_container'>
	<h5 id='projectdesc' style='color:#797979;'><%= @project.projectdesc %></h5>
	</div>
	</div>

 <h4>Start date 
 	<% if allow? :projects, :edit  %> 
	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'startdate'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project Start Date', 							
		'data-attribute'=>'projectstart',					
		:remote=>true %>
	<% end %>
 </h4>

	<div class='projectstart_container'>
	<h5 id='projectstart' style='color:#797979;'><%= @project.startdate.to_date %></h5>
	</div>




 <h4>End date 
 <% if allow? :projects, :edit  %> 
  	
 	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'enddate'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project End Date', 							
		'data-attribute'=>'projectend',					
		:remote=>true %>
	<% end %>
	
</h4>
	<div class='projectend_container'>
	<h5 id='projectend' style='color:#797979;'><%= @project.enddate.to_date %></h5>
</div>






 <% @project.applications.each do |app| %>
 	<h4>Corporate file number	
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'corporate_file_number'), :class=>'editAppSingleField icon-pencil' %>
 		<% end %>
 	</h4>
 
 	<h5 style='color:#797979;'><%= app.corporate_file_number %>
 	 
 </h5>
 	<h4>Requested amount 
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested'), :class=>'editAppSingleField icon-pencil' %>
 		<% end %>
 	</h4>

 	<h5 style='color:#797979;'>$<%= number_with_precision(app.requested, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %>        
    </h5>
 	<h4>Requested amount from other source(s) 
 		<% if allow? :projects, :edit  %> 
 		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested_other'), :class=>'editAppSingleField icon-pencil' %></h4>
 		<% end %>
 	
 	<h5 style='color:#797979;'>$<%= number_with_precision(app.requested_other, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %>
           
    </h5>			 			 	
 <% end %>
</div>



<script type="text/javascript">
$(document).on('click', '.editProjectSingleField', function() {

	var attribute = $(this).attr('data-attribute')	
	//$('#'+attribute).css('display', 'none');

	var link = this.href + '&layout="false"'	
	$('.'+attribute+'_container').load(link);
	//$('.edit_container').appendTo('.'+attribute+'_container')
	return false;
		
})

</script>
