<div id='core_container' class='span6'>

<h4>Title 
	<% if allow? :projects, :edit  %> 
	<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectname'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project Title', 							
		'data-attribute'=>'projectname',					
		:remote=>true %></h4>
	<% end %>
	<div class='projectname_container'>
	<h5 id='projectname' style='color:#797979;'><%= @project.projectname %></h5>
	</div>

	<div style='width:90%;word-wrap: break-word;'>
		 <h4>Description 
 		<%# if allow_param? :projects, :projectdesc %>
 	<% if allow? :projects, :edit  %> 
		 	
 		<%= link_to '', edit_project_path(@project, :updating_unique_attribute=>'projectdesc'), :class=>'editProjectSingleField icon-pencil', 
		:title=>'Edit Project Description', 							
		'data-attribute'=>'projectdesc',					
		:remote=>true %>
	<% end %>
	</h4>
	<div class='projectdesc_container'>
	<h5 id='projectdesc' style='color:#797979;'><%= @project.projectdesc %></h5>
	</div>
	</div>


 <% @project.applications.each do |app| %>


 	<h4>Start date 
 	<% if allow? :projects, :edit  %> 
	<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'startdate'), :class=>'editAppSingleField icon-pencil', 
		:title=>'Edit Application Start Date', 							
		'data-attribute'=>'startdate',					
		:remote=>true %>
	<% end %>
 </h4>

	<div class='startdate_container'>
	<h5 id='app_start' style='color:#797979;'><%= app.startdate.to_date %></h5>
	</div>

 <h4>End date 
 <% if allow? :projects, :edit  %> 
  	
 	<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'enddate'), :class=>'editAppSingleField icon-pencil', 
		:title=>'Edit Application End Date', 							
		'data-attribute'=>'enddate',					
		:remote=>true %>
<% end %>
	
</h4>
	<div class='enddate_container'>
	<h5 id='app_end' style='color:#797979;'><%= app.enddate.to_date %></h5>
</div>

	 	<h4>Corporate File Number 
	 	<% if allow? :projects, :edit  %> 
		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'corporate_file_number'), :class=>'editAppSingleField icon-pencil', 
			:title=>'Edit Corporate File Number', 							
			'data-attribute'=>'corporate_file_number',					
			:remote=>true %>
		<% end %>
	 </h4>

	<div class='corporate_file_number_container'>
	<h5 id='appcorp' style='color:#797979;'><%= app.corporate_file_number %></h5>
	</div>

	<h4>Requested Amount 
	 	<% if allow? :projects, :edit  %> 
		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested'), :class=>'editAppSingleField icon-pencil', 
			:title=>'Edit Requested Amount', 							
			'data-attribute'=>'requested',					
			:remote=>true %>
		<% end %>
	 </h4>

	<div class='requested_container'>
	<h5 id='requested' style='color:#797979;'>$<%= number_with_precision(app.requested, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %></h5>
	</div>

 
 	<h4>Requested Amount (Other Sources) 
	 	<% if allow? :projects, :edit  %> 
		<%= link_to '', edit_application_path(app, :updating_unique_attribute=>'requested_other'), :class=>'editAppSingleField icon-pencil', 
			:title=>'Edit Requested Amount (other sources)', 							
			'data-attribute'=>'requested_other',					
			:remote=>true %>
		<% end %>
	 </h4>

	<div class='requested_other_container'>
	<h5 id='requested_other' style='color:#797979;'>$<%= number_with_precision(app.requested_other, 
        :precision => 2, separator: '.', delimiter: ',') || 0.00 %></h5>
	</div>		 			 	
 <% end %>
</div>



<script type="text/javascript">
$(document).on('click', '.editProjectSingleField', function() {

	var attribute = $(this).attr('data-attribute')	
	//$('#'+attribute).css('display', 'none');

	var link = this.href + '&layout="false"'	
	$('.'+attribute+'_container').load(link);
	//$('.edit_container').appendTo('.'+attribute+'_container')
	//return false;
	 $('.editProjectSingleField').hide();
	 $('.editAppSingleField').hide();
		
})

$(document).on('click', '.editAppSingleField', function() {

	var attribute = $(this).attr('data-attribute')	
	//$('#'+attribute).css('display', 'none');

	var link = this.href + '&layout="false"'	
	$('.'+attribute+'_container').load(link);
	//$('.edit_container').appendTo('.'+attribute+'_container')
	//return false;
	$('.editProjectSingleField').hide();
	 $('.editAppSingleField').hide();
	// $('.editProjectSingleField').attr('style', 'display:none;')
	// $('.editAppSingleField').attr('style', 'display:none;')
		
})

</script>
