
<div class='row span8 spacer'>

<% if @project.has_active_department_template? %>

<% @project.applications.each do |app| %>
<!-- this should be changed to app.department_id OR tenant if using postgres -->
  <% app.commitmentitem.cicts.department_template(app.commitmentitem_id).each do |ct|  %>
  <fieldset>
        <legend><%= ct.name %>  
      <% if ct.has_specific_data?(app.id, ct.id) %>
        <%= link_to "edit", edit_applicationcustomtemplate_path(:app_id=>app.id, :ct_id=>ct.id) %>
      <% else %>
        <%= link_to "add", new_applicationcustomtemplate_path(:app_id=>app.id, :ct_id=>ct.id) %>
      <% end %>
      </legend>

      <% ct.customfields.each do |cf| %>
               
        <label><strong class='clearfix'><%= cf.field_label %></strong>
        	<% if @project.has_specific_data? %>
             <% cf.customfieldvalues.find_by_application(app.id).each do |cv| %>
                <% if cv.customfield.field_type == "boolean" %>
                  <% if cv.value == "true" %>
                    Yes
                  <% else %>
                    No
                  <% end %>
                <% else %>
                  <%= cv.value %>
                <% end %>
             <% end %>
        	<% else %>
        	  No data
        	<% end %>
       </label> 

       <% end %> 
       
  </fieldset>
  <% end %><!-- fieldset block -->


<% end %><!-- app block -->


<% else %>  

<fieldset>
  <legend>Departmental Data Requirements</legend>
 no department specific data
 </fieldset>
<% end %><!-- template block -->
</div>

