
<%= simple_form_for [@client, @project], :remote=>true, :html => { :id => "frmOpenProject"}  do |f| %>
 <%= f.error_notification %>

 <input type='hidden' name='ts' value=<%= @stale_form_ts %> />
  <%= f.input :token, as: :hidden, :name=>'token', :input_html=>{value: @token} %>
  
  <p style='margin-bottom:-5px;'><h4><%= @client_name %></h4></p>

    <%= f.input :client_id, as: :hidden, :input_html=> {name: 'client_id'}  %><br>
  <div class="form-inputs">

    <div class='tab-content'>
      <%= render 'pras', :f=>f %> 
      <br>

    </div>

       <div class="submit">
        <%= f.button :submit, class: 'pull-right btn-success', id: 'openProjectSubmit', style: 'margin-top:-35px;' %>
        </div>	

  </div>

<div id='dates'>
 <%= text_field_tag :sd %>
 <%= text_field_tag :ed %>
</div>

<% end %>

<script type="text/javascript">

$('#frmOpenProject').formToWizard({ submitButton: 'openProjectSubmit' }); 

// var sd = $("#sd").val();
// var ed = $("#ed").val();

// $element = $(document).find('.datepicker')
//   $element.datepicker({
//    autoclose: 'true',
//    format: 'yyyy-mm-dd',
//    startDate: $("#sd"),
//    endDate: $("#ed")
//   });

</script>



