
<%= simple_form_for [@client, @project], :remote=>true, :html => { :id => "frmOpenProject"}  do |f| %>
 <%= f.error_notification %>

 <input type='hidden' name='ts' value=<%= @stale_form_ts %> />
  <%= f.input :token, as: :hidden, :name=>'token', :input_html=>{value: @token} %>
  
  <p style='margin-bottom:-5px;'><h4><%= @client_name %></h4></p>

    <%= f.input :client_id, as: :hidden, :input_html=> {name: 'client_id'}  %><br>
  <div class="form-inputs">

    <div class='tab-content'>
      <% if @project.client.pt? %>

        <fieldset>
          <legend>Choose division/branch</legend>
                                  
            <%= f.input :division_id, :label=>false, :wrapper=>:append do %>
              <%= f.input_field :division_id, collection: Division.where(:client_id=>@project.client_id).map { |d| [d.name, d.id] }, include_blank: true %>
                <%= link_to "add", new_client_division_path(params[:client_id]), :class=> 'btn btn-success', :style=>'margin-bottom:5px' %>                  
              <% end %>
            
        </fieldset>

      <% end %>

      <%= render 'pras', :f=>f %> 
      <br>

    </div>

       <div class="submit">
        <%= f.button :submit, class: 'pull-right btn-success', id: 'openProjectSubmit', style: 'margin-top:-35px;' %>
        </div>	

  </div>

<!-- <div id='dates'> -->
 <%#= text_field_tag :sd %>
 <%#= text_field_tag :ed %>
<!-- </div> -->

<% end %>

<script type="text/javascript">

$('#frmOpenProject').formToWizard({ submitButton: 'openProjectSubmit' }); 


$element = $(document).find('.datepicker')
  $element.datepicker({
   autoclose: 'true',
   format: 'yyyy-mm-dd'   
  });

</script>



