<h3>Other funder(s) Budget</h3>

<div class='tblBudgetItems'>
 <% if !@project.budgetitems.other_funder.blank? %>
     <table class='table table-bordered table-striped table-hover'>
      <thead>
        <tr>
          <th>Funder</th>
          <th>Expense Category</th>
          <th>Expense Description</th>
          <th>Fiscal Year</th>
          <th>Estimated Amount</th> 
              <th>Actual Amount</th> <!-- check for status after approval before showing this -->     
              <th>Application</th>
              <th>Edit</th>
              <th>Delete</th>
        </tr>
      </thead>
      <tfoot>
     <tr>
      <th>Total</th>
      <th></td>
      <th></td>
      <th></td>
      <th><%= number_to_currency(@project.budgetitems.other_funder.sum(:forecast)) %></th>
        <th><%= number_to_currency(@project.budgetitems.other_funder.sum(:actual)) %></th>
        <th></td>
        <th></td>
     </tr>
    </tfoot>
      <tbody>
        <% @project.applications.each do |app| %>
           <% app.budgetitems.other_funder.each do |budget| %>

                <tr>
                  <td><%= budget.funding_source %></td>
                  <td><%= budget.budgetcategory.name %></td>
                  <td><%= budget.desc %></td>
                  <td><%= budget.fiscalyear_id %></td>
                  <td><%= number_to_currency(budget.forecast.to_s.to_d) %></td>
                      <td><%= number_to_currency(budget.actual.to_s.to_d) %></td> <!-- check for status after approval before showing this -->              
                    <td><%= app.applicationtype.name %></td>
                    <td><%= link_to '', edit_budgetitem_path(budget), :remote=>true, :class=>'btnEditBudgetItem icon-pencil', 
                    'data-dialog-title'=>'Edit Budget Item' %></td>
                    <td>
                      <%= link_to '', budget, :remote=>true, method: :delete, data: { confirm: 'Are you sure?' }, 
                      :class=>'btnDelBudgetItem icon-minus-sign red'  %>
                   </td>
                </tr>
           <% end %>
           <p>

         <% if !(@project.budgetitems.other_funder.sum(:forecast) == @project.applications.sum(:requested_other)) %>
           <%= link_to "Add Expense from Other Funding Source", new_application_budgetitem_path(app, :other_funder=>true), :class=>'btnAddBudgetItem_other btn btn-info btn-small', 
           'data-dialog-title'=>'Add budget item from other funder' %>
         <% else %>
          <h3 class='balance alert alert-success'>Budget balanced <i class="icon-ok"></i>
          </h3>       
         <% end %>


        </p>      
        <% end  %>
      </tbody>
     </table>

<% else %>

         <%= link_to "Add Expense from Other Funding Source", new_project_budgetitem_path(@project, :other_funder=>true), :class=>'btnAddBudgetItem_other btn btn-info btn-small', 'data-dialog-title'=>'Add budget item from other funder' %>  

<% end %>
</div>