
<div class='span4 offset1'>
<fieldset>
 	<legend>Financial Coding </legend>
	<% @project.applications.each do |app| %>
	    Application: <strong><%= app.applicationtype.name %></strong><br>
		Product service line: <strong>
		<%= app.commitmentitem.summarycommitment.subserviceline.productserviceline.psl_name %></strong><br>
		Sub service line: <strong><%= app.commitmentitem.summarycommitment.subserviceline.ssl_name %></strong><br>
		Summary Commitment: <strong><%= app.commitmentitem.summarycommitment.sc_name %></strong><br>
		Commitment Item: <strong><%= app.commitmentitem.ci_name %></strong><br>
		
		<%# if allow? :projects, :edit  %> 
			<%= link_to "change", edit_application_path(app, :pras=>true), name: 'pras', 
	 		:class=>'btn btn-info btn-small' %>
 		<%# end %>

	<% end %>

</fieldset>
<br>

 <% if !@project.projectcontacts.blank?  %>
 

	 <fieldset>

	 	<legend>Project contact and signing authority</legend>	 	
		 	 <%= render 'project_contact_table' %>	  
	 </fieldset>	 	

<% else %>	

	<fieldset>
		 	<%= render 'add_projectcontact_fields' %>		 
	</fieldset>  
<% end %>

 </div>
