<fieldset>
	 	<legend>Financial Coding 
	 	<%= link_to "change", edit_application_path(@project.applications.first, :pras=>true), name: 'pras', 
	 	:class=>'btn btn-info btn-small' %></legend>

		Product service line: <strong><%= @mainapplication.commitmentitem.summarycommitment.subserviceline.productserviceline.psl_name %></strong><br>
		Sub service line: <strong><%= @mainapplication.commitmentitem.summarycommitment.subserviceline.ssl_name %></strong><br>
		Summary Commitment: <strong><%= @mainapplication.commitmentitem.summarycommitment.sc_name %></strong><br>
		Commitment Item: <strong><%= @mainapplication.commitmentitem.ci_name %></strong>
	 </fieldset>

	 <% if !@project.projectcontacts.blank?  %>
	 <fieldset>
	 	<legend>Project contact and signing authority</legend>	 	
		 	 <table class='table table-hover'>
		 	 	<thead>
		 	 	 <tr>
		 	 		<th>Contact Name</th>
		 	 		<th>Authority?</th>
		 	 		<th>Edit</th>
		 	 		<th>Remove</th>
		 	 	 </tr>
		 	 	</thead>
		 	 	<tbody>
		 	 	 <% @project.projectcontacts.each do |pc| %>
		 	 	 <tr>
		 	 		<td><%= pc.contact.fullname %></td>
		 	 		<td>
		 	 			<% if pc.authority == true %>
		 	 				<span class='icon-ok'></span>
		 	 			<% end %>
		 	 		</td>
		 	 		<td><%= link_to '', edit_project_contact_path(pc.contact, :project_id=>pc.project_id), :class=>'icon-pencil' %></td>
		 	 		<td><%= link_to '', pc, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'icon-minus-sign red' %> </td>
		 	 	</tr>
		 	 	 <% end  %>
		 	 	</tbody>
		 	 </table>
	 	<br>
	 	<% if !@ddl.blank?  %>
	 	<%= link_to "Click here to add additional project contact(s)", new_project_projectcontact_path(@project), :class=>'btn btn-info btn-small' %>
	 	<% else %>
	 	<%= link_to "Click here to add new contact", new_project_contact_path(@project, :client_id=>@project.client_id), :class=>'btn btn-info btn-small' %>
	 	<% end  %>
	 <% else  %>
	 	<% if @no_contact.blank? %>
	 		<%= link_to "Click here to add new contact", new_project_contact_path(@project, :client_id=>@project.client_id), :class=>'btn btn-info btn-small' %>
	 	<% else %>
	 	<%= link_to "Click here to add project contact(s)", new_project_projectcontact_path(:project_id=>@project), :class=>'btn btn-info btn-small' %>
	 	<% end %>
	 <% end  %>


	 </fieldset>
