
<% if @project.has_active_specific_template? %>


<% @project.applications.each do |app| %>


  <% app.commitmentitem.cicts.programspecifictemplate(app.commitmentitem_id).each do |ct|  %>
  <fieldset>
        <legend><%= ct.name %>  
      <% if ct.has_specific_data?(app.id, ct.id) %>
        <%= link_to "edit", edit_applicationcustomtemplate_path(:app_id=>app.id, :ct_id=>ct.id) %>
      <% else %>
        <%= link_to "add", new_applicationcustomtemplate_path(:app_id=>app.id, :ct_id=>ct.id) %>
      <% end %>
      </legend>

      <% ct.customfields.each do |cf| %>
               
        <label><strong class='clearfix'><%= cf.field_label %></strong>
        	<% if @project.has_specific_data? %>
             <% cf.customfieldvalues.find_by_application(app.id).each do |cv| %>
                <%= cv.value %>
             <% end %>
        	<% else %>
        	  No data
        	<% end %>
       </label> 

       <% end %> 
       
  </fieldset>
  <% end %><!-- fieldset block -->


<% end %><!-- app block -->


<% else %>  


 no program specific data
<% end %><!-- template block -->


