
<% if !params[:layout] %>
	<h1>Editing project</h1>
<% end %>

<% if params[:contacts] %>
 <%= render 'formContacts' %>
<% elsif params[:updating_unique_attribute] %>
 <%= render 'formSingleAttribute' %>
<% else %>
 <%= render 'formEdit' %>
<% end  %>


<% if !params[:layout] %>
	<%= link_to 'Show', @project %> |
	<%= link_to 'Back', projects_path %>
<% end %>