
<div class='row'>



<h1 class='span3'>My Projects 
</h1>

<%= link_to "Create project", searches_path, :class=>'btn btn-primary pull-right',
:style=>"margin-top:10px;" %>
</div>
<br>

<div class='row'>


  <%= form_tag projects_path, :action=>'projects/index', :remote=>true, :method=>'get', :id=>'project_search_form', :class => 'form-inline'  do |f|  %>
    
    <div class='input-append'>

  

    <% if !@query.blank? %>
    <%= text_field_tag :search_field, @query, :class=>'search_project'%>  
     <% else %>
    <%= text_field_tag :search_field, "", placeholder: 'Search projects', :class=>'search_project'%>  
    <% end  %>
    

    <%= button_tag(:type=>:submit, :class=>'btn btn-info search_project_submit', :style=>'margin-bottom:5px') do %>
        <i class='icon-search'></i>
    <% end %>

    <%= button_tag(:type=>:submit, :name=>'reset', :class=>'btn btn-danger reset_project_submit', :style=>'margin-bottom:5px') do %>
        <i class='icon-remove'></i>
    <% end %>
    
    </div>    

  
  <%#= text_field_tag :project_page_size, @project_page_size  %>

  

<div class='pills'>
  <%= render 'result_pills' %>
</div>

<div id='project_list_size'>
    <%= render 'records_per_page' %>
</div>

</div>



<div id='project_records' >
  <%= render 'projects/project_records' %>    
</div>


<div class='row'>

<% if !@projects.blank? %>
  <div id='project_paginator'>
    <%= paginate @applications, :param_name=>'project_page', :remote=>true %>      
  </div>
   
<% end %>

</div>

<% end %>


<%= render 'shared/modal_html' %>





