<h1>My Projects</h1>



<% if !@projects.blank? %>
  <table class='table'>
    <tr>
      <th>Project Title</th>
      <th>Project Description</th>
      <th>Commitment Item</th>
      <th>Official</th>
      <th></th>
      <th></th>
    </tr>

  <% @projects.each do |project| %>
    <% project.applications.by_official(current_user).each do |a| %>
    <tr>
      <td><%= a.project.projectname %></td>
      <td><%= a.project.projectdesc %></td>
      <td><%= a.commitmentitem_id %></td>
      <td><%= a.official_email(current_user) %></td>
      <td><%= link_to a.project do %>
            <i class='icon-pencil icon-large black'></i>  
          <% end  %>
      </td>
      <td><%= link_to project, method: :delete, data: { confirm: 'Are you sure?' } do %>
          <i class='icon-remove-sign icon-large red'></i> 
        <% end  %>

      </td>
    </tr>
  <% end %>
  <% end %>
  </table>

<% else %>
<p><strong>You have no projects</strong></p>
<% end %>

<br />

<%= link_to "Create project", searches_path(:create=>true), :class=>'btn btn-primary btn-small' %>
