<div><h4><%= link_to @project.client.name, client_path(@project.client) %></h4><br></div>
 <input type='hidden' name='ts' value=<%= @stale_form_ts %> />
  
  <div id='test'></div>
  <div class="form-inputs">
	 <%= render 'form_show_core' %>
	 <%= render 'pre-assessment'  %>
  	 <%= render 'budget' %>
  </div>