<p id="notice"><%= notice %></p>

<p>
  <strong>Customfield:</strong>
  <%= @customfieldvalidator.customfield %>
</p>

<p>
  <strong>Type:</strong>
  <%= @customfieldvalidator.type %>
</p>

<%= link_to 'Edit', edit_customfieldvalidator_path(@customfieldvalidator) %> |
<%= link_to 'Back', customfieldvalidators_path %>
