


<div id='client_table'>

<table class='table table-bordered table-striped table-hover table-condensed'>
 <thead>
 	<tr>

 	 <th><%= sortable "client", "name" %></th> 	 
 	 <th><%= sortable "client", "emails_clients.email", "email" %></th>
 	 <th><%= sortable "client", "phones_clients.phone", "phone" %></th>
 	 <th><%= sortable "client", "websites_clients.website", "website" %></th>
 	 <th style='width:15%'></th>
 	</tr>
 </thead>
 <tbody id='client_records'>
 <%= render 'client_records' %>
 </tbody>

</table>
</div>

<div id='client_paginator'>
<%= paginate @clients, :param_name=>'client_page', :remote=>true %>
</div>

<% if @client.count > 10 %>
	<%= render 'shared/pageSize', :resource=>'clients' %>
<% end %>




