

<table class='table table-bordered table-striped table-hover table-condensed'>
 <thead>
  <tr>
  	<th><%= sortable "app", "corporate_file_number", "RIMS" %></th>
  	<th><%= sortable "app", "client_applications.name", "Client" %></th>
  	<th><%= sortable "app", "projects.projectname", "Title" %></th>
  	<th><%= sortable "app", "Product Service Line" %></th>
  	<th><%= sortable "app", "Sub Service Line" %></th>
  	<th><%= sortable "app", "Summary Commitment" %></th>
  	<th><%= sortable "app", "commitmentitems.ci_name", "Commitment Item" %></th>
  	<th></th>
    <th></th>
  </tr>
 </thead>
 <tbody id='project_records'>
 	<%= render 'project_records' %>

 </tbody>


</table>

<div id='project_paginator'>
<%= paginate @applications, :param_name=>'project_page', :remote=>true %>
</div>

<% if @projects.count > 10 %>
  <%= render 'shared/pageSize', :resource=>'projects' %>
<% end %>

