


<p><h3>Search for Client</h3></p>




<%= render 'qSearch' %>


<div id='table_container' class='row span9'>
 

 <div id='cover' class='cover offset2'></div>
 

  <div id='results' style='display:none;'>


  <% if !params[:create] %>

  <ul class="nav nav-pills" data-tabs="tabs">
    <li class="active">
      <a data-toggle="tab" href="#clients">Clients (<%= @client.count %>)</a>
    </li>
    <li>
      <a data-toggle="tab" href="#projects">Projects (<%= @project_final.count %>)</a>
    </li>
    
  </ul>

  <div class="tab-content">



    <div class="tab-pane active" id="clients">
    <% if !@clients.blank? %>  
    <%= render 'clients' %>
    <% else %>
      <strong>Your search did not yield any clients</strong>
    <% end %>
    </div>

    <div class="tab-pane" id="projects">
    <% if !@project_final.blank? %>
    <%= render 'projects' %>
    <% else %>
    <strong>Your search did not yield any projects</strong>
    <% end %>
    </div>

    
    <p>
      <%= link_to "Add Client", new_client_clienttypes_path, :class=>'btn btn-info' %>
    </p>

  </div>

  <% end %>


  </div>
</div>

<%= render 'shared/modal' %>

 