<h1>Listing customfieldconditions</h1>

<table>
  <thead>
    <tr>
      <th>Customfieldvalidator</th>
      <th>Condition</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customfieldconditions.each do |customfieldcondition| %>
      <tr>
        <td><%= customfieldcondition.customfieldvalidator %></td>
        <td><%= customfieldcondition.condition %></td>
        <td><%= link_to 'Show', customfieldcondition %></td>
        <td><%= link_to 'Edit', edit_customfieldcondition_path(customfieldcondition) %></td>
        <td><%= link_to 'Destroy', customfieldcondition, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customfieldcondition', new_customfieldcondition_path %>
