<p id="notice"><%= notice %></p>

<p>
  <strong>Customfieldvalidator:</strong>
  <%= @customfieldcondition.customfieldvalidator %>
</p>

<p>
  <strong>Condition:</strong>
  <%= @customfieldcondition.condition %>
</p>

<%= link_to 'Edit', edit_customfieldcondition_path(@customfieldcondition) %> |
<%= link_to 'Back', customfieldconditions_path %>
