<p id="notice"><%= notice %></p>

<p>
  <strong>Commitmentitem:</strong>
  <%= @cict.commitmentitem %>
</p>

<p>
  <strong>Customtemplate:</strong>
  <%= @cict.customtemplate %>
</p>

<%= link_to 'Edit', edit_cict_path(@cict) %> |
<%= link_to 'Back', cicts_path %>
