<%= simple_form_for (@client) do |f| %>
  <%= f.error_notification %>

  <%= f.input :registeredcharity, as: :hidden, :input_html=>{value: true} %>
   <div class="form-inputs">
   	<%= f.simple_fields_for :charity do |charity|  %>
	    <%= charity.input :registrationnumber %>  
      <%= charity.input :registrationdate, as: :string,
      :input_html=>{ :class=>'datepicker', value: @client.charity.registrationdate } %>
      
    <% end  %>
  </div>

   <div class="form-actions">
    <%= f.button :submit, "back", :name=> "back_button", :class=>'btn btn-primary btn-small' %>
   <%= f.button :submit, "continue" %>
    
  </div>	

 <% end  %>