<p>
<%= simple_form_for @email, :remote=>true, :html=>{:class=> 'form-inline'}  do |f| %>
  


  <%= f.input :email, :label=>false, :wrapper => :append do %>                   
      <%= f.input_field :email, label: false %> 
      <%= button_tag(:type=>:submit, :class=>'btn btn-info', :style=>'margin-bottom:5px') do %>
      <i class='icon-ok'></i>     
  <% end %> 
  <% end %>                    


  <% if !@email.new_record? %>
  <%= f.input :client_id, as: :hidden %>
  <% else  %>
  <%= f.input :client_id, as: :hidden, :input_html=>{value: @client} %>
  <% end  %>

  
   
  
<% end %>
</p>

 	