
<% if params[:layout] %>

<% @emails.each do |email| %>
<div id="<%= email.id %>_container">
       <%= email.email %>
       <%= email.type %>
       <%= link_to '', edit_client_email_path(email.client_id, email), 
       :class=>'edit_main_info icon icon-pencil black',
       'data-attribute'=>email.id  %> 
       <%= link_to '', email, method: :delete, data: { confirm: 'Are you sure?' },
        :class=>'icon icon-remove-sign red', :remote=>true%><br>
</div>
<% end %>


<% else %>
<h1>Listing emails</h1>


<table>
  <tr>
    <th>Email</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @emails.each do |email| %>
  <tr>
    <td><%= email.email %></td>
    <td><%= link_to 'Show', email %></td>
    <td><%= link_to 'Edit', edit_email_path(email) %></td>
    <td><%= link_to 'Destroy', email, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Email', new_email_path %>
<% end %>


