<div id='additional_info'>
    <fieldset>
      <legend>Additional Information</legend>

        <p>
        <h5>Mandate</h5>
        <% if @client.mandate %>
        <%= @client.mandate %>
        <%= link_to "edit", edit_client_path(@client, :mandate_only=>true) %>
        <% else %>
        <%= link_to "add", edit_client_path(@client, :mandate_only=>true) %>
        <% end  %>
        </p>

        <p>


      <div id='corp'>
          <%= render 'clients/show_sections/corp_fields' %>
      </div>
      
      </p>

      <p>

        <div id='charity'>
        <%= render 'clients/show_sections/ch_fields' %>
      </div>

        </p>

        <p>

      <div id='band'>
       <%= render 'clients/show_sections/ba_fields' %>
      </div>

        </p>

    </fieldset>

  </div>