<div id='additional_info'>
    <fieldset>
      <legend>Additional Information</legend>

        <p>
        <h5>Mandate</h5>
        <% if @client.mandate %>
        <%= @client.mandate %>
        <%= link_to "edit", edit_client_path(@client, :mandate_only=>true) %>
        <% else %>
        <%= link_to "add", edit_client_path(@client, :mandate_only=>true) %>
        <% end  %>
        </p>

        <p>


        <div id='corp'>
          <%= render 'clients/show_sections/corp_fields' %>
      </div>
      
      </p>

      <p>

        <div id='charity'>
        <%= render 'clients/show_sections/ch_fields' %>
      </div>

        </p>

        <p>

      <div id='band'>
        <% if @client.registeredband  %>
         <h5>Band Information</h5>
          <% if @client.band %>
              Band Number:<% if @client.band.bandnumber %>
              <%= @client.band.bandnumber %><br>  
              <% end %>
              <%= link_to "edit", edit_client_path(@client, :step=>'band') %>
          <% else  %>
            <%= link_to "add", edit_client_path(@client, :step=>'band') %>
          <% end %>
        <% else %>
        <%= link_to "Click here if registered band", edit_client_path(@client, :step=>'band', :edit=>true), :class=>'btn btn-info btn-small', :remote=>true  %>
        <% end  %>
      </div>

        </p>

    </fieldset>

  </div>