<%= simple_form_for @client, :html=> {:id=>'frmBand'}, :remote=>true do |f| %>
  <%= f.error_notification %>

 <div class="form-inputs">
    <%= f.input :registeredband, as: :hidden, :input_html=>{value: '1'} %>
    <%= f.simple_fields_for :band do |band| %>
      <%= band.input :bandnumber %>
      <%= band.input :nested_from_client, as: :hidden, :input_html=>{value: "yes"} %>
    <% end %>
  </div>

  <%= hidden_field_tag 'show', true %>
  <div class="form-actions">
    <%= f.button :submit, "Save changes",  :id=>'submitBand' %>            
  </div>

<% end %>