<% if @client.registeredcharity  %>         
           <h5>Charity Information</h5>
           <div id='charity_view'>
            <% if !@client.charity.blank?  %>
                  registration number:<% if @client.charity.registrationnumber  %>
                    <%= @client.charity.registrationnumber %><br>
                  <% end %>
                  registration date:<% if @client.charity.registrationdate %>
                    <%= @client.charity.registrationdate.to_date %><br>
                  <% end  %>
            </div>
              <%= link_to "", edit_client_path(@client, :step=>'charity'), :class=>'icon-large icon-pencil black btnEditCharity', :remote=>true %>
                   <b><%= link_to "", @client.charity, method: :delete, data: { confirm: 'Are you sure you want to delete  all charity information?' }, :class=>'icon-large icon-remove-sign red btnDelCharity',
                   :remote=>true %></b>
             <% else  %>
              <%= link_to "click to add charity information", edit_client_path(@client, :step=>'charity'), :class=>'btn btn-small btn-info btnCharity' %>
            <% end %>

  <% else %>
    
    <%= link_to "click to add charity information", edit_client_path(@client, :step=>'charity', :edit=>true), :class=>'btn btn-info btn-small btnCharity'  %>
    

  <% end  %>

<p>
   <div id='charity_fields' style='display:none;'>
     <%= render 'clients/show_sections/charity_fields'%>
  </div>
</p>