
<fieldset>

     <legend>Contacts   
    <%= link_to "Add contact", new_client_contact_path(@client), :class=> "btn btn-primary btn-small"%>
      </legend> 

      <div>
         <% @client.contacts.each do |contact| %>


           <div class='well span3'>
            
            <% if contact.authority == true %>
                  <b>Signing Authority</b>
            <% end %>
            <br>
            <%= contact.firstname  %> <br>
            <%= contact.lastname  %><br>
            <%= contact.title  %><br>

            <% contact.locations.each do |location| %>
            	<%= location.addressline1 %> <br>
          	<% if location.addressline2? %>
          	<%= location.addressline2 %> <br>
          	<% end %>
          	<% if location.addressline3? %>
          	<%= location.addressline3 %> <br>
          	<% end %>
          	<% if location.addressline4? %>
          	<%= location.addressline4 %> <br>
          	<% end %>
          	<% if location.city? %>
          	<%= location.city %> <br>
          	<% end %>
            <% if location.state_id? %>
       		   <%= location.state.name %> <br>
             <% end %>
             <% if location.country_id? %>
          	<%= location.country.name %> <br>
            <% end %>

        

           <%= link_to "edit contact", edit_client_contact_path(@client, contact), :class=>'btn btn-info btn-small' %>

          <%= link_to 'Destroy', contact, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-small'%>

          <% end %>
          
        </div>
        <!-- end of do block -->
      <% end %>

    </div>
  
    

</fieldset>

  