<% if @client.incorporated  %>
          <h5>Corporate Information</h5>
          <div id='corporation_view'>
            
            <% if !@client.corporation.blank? %>

                Business Number:<% if @client.corporation.businessnumber %>
                 <%= @client.corporation.businessnumber %><br>
                <% end %>
                Level:<% if @client.corporation.level %>
                 <%= @client.corporation.level %><br>
                <% end %>
              </div>
                <%= link_to "", edit_client_path(@client, :step=>'corporation'), :class=>'icon-large icon-pencil black btnEditCorp', :remote=>true %>

                <% if allow? :corporations, :destroy  %>
                  <b><%= link_to "", @client.corporation, method: :delete, data: { confirm: 'Are you sure you want to delete  all corporation information?' }, :class=>'icon-large icon-remove-sign red btnDelCorp',
                  :remote=>true%></b>
                <% end %>
               
            <% else  %>
              
                <%= link_to "click to add corporation information", edit_client_path(@client, :step=>'corporation'), :class=>'btn btn-small btn-info btnCorp', :remote=>true %>
              
            <% end %> 

<% else %>

<%= link_to "click to add corporation information", edit_client_path(@client, :step=>'corporation', :edit=>true), 
:class=>'btn btn-info btn-small btnCorp', :id=>'btnCorp', :remote=>true  %>


<% end  %>


<p>
<div id='corporation_fields' style='display:none;'>
  <%= render 'clients/show_sections/corporation_fields' %>
</div>
</p>