<div id='divisions'>
    <fieldset>
      <legend>Divisions 
        <%= link_to "add division", new_client_division_path(@client), :class=>'btn btn-primary btn-small' %>
      </legend>

        <% if @client.divisions.present? %>
        
        
          <% @client.divisions.each do |division| %>
          <div class='well span3'>
            <b><%= division.name %></b><br>
            <% if division.name1? %>
              <%= division.name1 %><br>
            <% end %>
            <% if division.name2? %>
              <%= division.name2 %><br>
            <% end %>
             <%= division.location.addressline1 %> <br>
            <% if division.location.addressline2? %>
              <%= division.location.addressline2 %> <br>
            <% end %>
            <% if division.location.addressline3? %>
              <%= division.addressline3 %> <br>
            <% end %>
            <% if division.location.addressline4? %>
              <%= division.addressline4 %> <br>
            <% end %>
            <% if division.location.city? %>
              <%= division.location.city %> <br>
            <% end %>
            <% if division.location.state_id? %>
              <%= division.location.state.name %> <br>
            <% end %>
            <% if division.location.postal? %>
              <%= division.location.postal %> <br>
            <% end %>  
          <%= link_to "edit division", edit_client_division_path(@client, division), :class=>'btn btn-info btn-small' %> </div>                    
          <% end %>
          

        <% else %>  
          There are no division(s) yet for this province <br>
          
        <% end %>

    </fieldset>
    

  </div>