   <b>Type</b>
    <%= @client.clienttype.name %><br>
<p class='contact_info'>
  <b>Email(s) <%= link_to "", new_client_email_path(@client), :class=>'add_main_info icon icon-plus-sign black' %></b><br>

   <div id='email_container'>
     <% @client.emails.each do |email| %>
       <%= email.email %>
       <%= email.type %>
       <%= link_to '', edit_client_email_path(@client, email), 
       :class=>'edit_main_info icon icon-pencil black',
       'data-attribute'=>'email' %>
       <%= link_to '', email, method: :delete, data: { confirm: 'Are you sure?' },
        :class=>'icon icon-remove-sign red'%><br>
     <% end %>
   </div> 
  </p>

    <p class='contact_info'>    
    <b>Website(s) <%= link_to '', new_client_website_path(@client), :class=>'add_main_info icon icon-plus-sign black' %></b><br>  

    <div id='website_container'>  
      <% @client.websites.each do |website| %>
        <%= website.website %>
         <%= link_to '', edit_client_website_path(@client, website), 
         :class=>'edit_main_info icon icon-pencil black',
         'data-attribute'=>'website' %>
         <%= link_to '', website, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'icon icon-remove-sign red'%><br>
      <% end %>
    </div>  
    </p>


  <p class='contact_info'>
  <b>Phone Number(s) <%= link_to '', new_client_phone_path(@client), :class=>'add_main_info icon icon-plus-sign black' %></b><br>

  <div id='phone_container'>
    <% @client.phones.each do |phone| %>
      <%= phone.phone %>
      <%= phone.type %>
        <%= link_to '', edit_client_phone_path(@client, phone), 
        :class=>'edit_main_info icon icon-pencil black',
        'data-attribute'=>'phone' %>
      <%= link_to '', phone, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'icon icon-remove-sign red'%><br>
    <% end  %>
  </div>
  </p>
