
   <b>Type</b>
    <%= @client.clienttype.name %><br><br>
<p class='contact_info'>
  <b>Email(s) <%= link_to "", new_client_email_path(@client), :class=>'add_main_info icon icon-plus-sign black', 'data-attribute'=>'email' %></b><br>

   <div id='email_container'>
     <%= render 'email' %>
   </div> 
   <div id='add_email_container'></div>
  </p>

    <p class='contact_info'>    
    <b>Website(s) <%= link_to '', new_client_website_path(@client), :class=>'add_main_info icon icon-plus-sign black', 'data-attribute'=>'website' %></b><br>  

    <div id='website_container'>  
      <%= render 'website' %>
    </div>  
    <div id='add_website_container'></div>
    </p>


  <p class='contact_info'>
  <b>Phone Number(s) <%= link_to '', new_client_phone_path(@client), :class=>'add_main_info icon icon-plus-sign black', 'data-attribute'=>'phone' %></b><br>

  <div id='phone_container'>
    <%= render 'phone' %>
  </div>
  <div id='add_phone_container'></div>
  </p>



   <fieldset>
    <legend>Address information   
    <%= link_to "Add address", new_client_location_path(@client), :class=> "btn btn-primary btn-small"%>
      </legend>

   <div>
    <% @client.clientlocations.each do |cl| %>
      <div class='well span3' >
    	 <% if cl.addresstype %>
        <h4><%= cl.addresstype.name %></h4>
       <% end  %>
      
	    	  <%= cl.location.addressline1 %> <br>
	    	<% if cl.location.addressline2? %>
	    	  <%= cl.location.addressline2 %> <br>
	    	<% end %>
	    	<% if cl.location.addressline3? %>
	    	  <%= cl.location.addressline3 %> <br>
	    	<% end %>
	    	<% if cl.location.addressline4? %>
	    	  <%= cl.location.addressline4 %> <br>
	    	<% end %>
	    	<% if cl.location.city? %>
	    	  <%= cl.location.city %> <br>
	    	<% end %>
        <% if cl.location.state_id? %>
          <%= cl.location.state.name %> <br>
        <% end %>
        <% if cl.location.postal? %>
          <%= cl.location.postal %> <br>
        <% end %>
        <% if cl.location.country_id? %>
          <%= cl.location.country.name  %><br>
        <% end %>


  <%= link_to "edit address", edit_client_location_path(@client, cl.location), :class=> 'btn btn-info btn-small' %>
   <% if Clientlocation.where(:client_id=>params[:client_id]).to_a.size >=  1 && cl.addresstype_id != 1 %>
      <%= link_to 'Destroy', cl.location, method: :delete, data: { confirm: 'Are you sure?' }, :class=>'btn btn-danger btn-small'%>
  <% end %>


    	</div>
    <% end %> 
</div>
    
    </fieldset>


<script type="text/javascript">

$(document).on('click', '.edit_main_info', function() {
  var attribute_id = $(this).attr('data-attribute_id')
  var attribute_name = $(this).attr('data-attribute_name')  
    
  var link = this.href + '?layout="false"'  

  $('#'+attribute_name+'_'+attribute_id+'_container').load(link);
  
  
  return false;

})

$(document).on('click', '.add_main_info', function() {
  var attribute = $(this).attr('data-attribute')  
  //$('#'+attribute).css('display', 'none');

  var link = this.href + '?layout="false"'  

  $('#add_'+attribute+'_container').load(link);
  //$('.edit_container').appendTo('.'+attribute+'_container')
  return false;
})


</script>







  