<h1>Listing customtemplates</h1>

<table>
  <thead>
    <tr>
      <th>Commitmentitem</th>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @customtemplates.each do |customtemplate| %>
      <tr>
        <td><%= customtemplate.commitmentitem %></td>
        <td><%= customtemplate.name %></td>
        <td><%= link_to 'Show', customtemplate %></td>
        <td><%= link_to 'Edit', edit_customtemplate_path(customtemplate) %></td>
        <td><%= link_to 'Destroy', customtemplate, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Customtemplate', new_customtemplate_path %>
