<p id="notice"><%= notice %></p>

<p>
  <strong>Type:</strong>
  <%= @customtemplate.customtemplatetype.ct_type%>
</p>

<p>
  <strong>Name:</strong>
  <%= @customtemplate.name %>
</p>

<%= link_to 'Edit', edit_customtemplate_path(@customtemplate) %> |
<%= link_to 'Back', customtemplates_path %>
