<p id="notice"><%= notice %></p>

<p>
  <strong>Commitmentitem:</strong>
  <%= @customtemplate.commitmentitem %>
</p>

<p>
  <strong>Name:</strong>
  <%= @customtemplate.name %>
</p>

<%= link_to 'Edit', edit_customtemplate_path(@customtemplate) %> |
<%= link_to 'Back', customtemplates_path %>
