<%= simple_form_for foreign_locations_path(@location) do |f| %>
  <%= f.error_notification %>

  <div class="form-inputs">
<% if @project %>
<%= text_field_tag "project_id", @project %>
<% end  %>

<% if @client  %>
<%= text_field_tag "client_id", @client %>
<% end  %>

<% if !@location.new_record?  %>
<%= text_field_tag "location_id", @location.id %>
<% end %>

<% if @contact %>
<%= text_field_tag "contact_id", @contact %>
<% end  %>

   <%= f.input :country_id, collection: Country.all(order: 'name'),
          :label_method => lambda { |cy| "#{cy.name}" }, :input_html=>{name: "country_id"} %>
	  <div class="form-actions">
	    <%= f.button :submit, :label=>"Save", :class=>'btn btn-primary btn-small' %>
	  </div>
 
<% end %>
